h1 {
	margin: auto;
	text-align: center;
}
.parent-gameboard {
	width: 800px;
	height: 800px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
}

#green-top-left {
	background-color: darkgreen;
	width: 400px;
	height: 400px;
	border-top-left-radius: 400px;
	margin: 0px 0px;
}

#red-top-right {
	background-color: darkred;
	width: 400px;
	height: 400px;
	border-top-right-radius: 400px;
	margin: 0px 0px;
}

#yellow-bottom-left {
	background-color: rgba(255,204,0);
	width: 400px;
	height: 400px;
	border-bottom-left-radius: 400px;
	margin: 0px 0px;
}
#blue-bottom-right {
	background-color: darkblue;
	width: 400px;
	height: 400px;
	border-bottom-right-radius: 400px;
	margin: 0px 0px;
}
#middle-circle-panel {
	background-color: black;
	width: 200px;
	height: 200px;
	border-radius: 400px;
	margin: 0px 0px;
	z-index: 1;
	position: absolute;
	top: 333px;
}
.parent-scoreboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
h2 {
	color: white;
	position: relative;
	top: 80px;
	left: 55px;
}
#onBtn {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50px;
	right: 87px;
}

#score-box {
	width: 100px;
	height: 50px;
	background-color: grey;
}

#status-box {
	width: 100px;
	height: 50px;
	background-color: grey;
}

#round-box {
	width: 100px;
	height: 50px;
	background-color: grey;
}
